@use './reset.scss';
@use './variables' as *;
@use './fonts';

body {
 font-family: 'Montserrat', sans-serif;
  font-weight: 100; 
  color: $text-color;
  background-color: #f9f9f9;
}

button {
  cursor: pointer;
  transition: all $transition-speed ease;
  border-radius: $border-radius;
}
