@use './reset.scss';
@use './variables' as *;
@use './fonts';

body {
 font-family: 'Montserrat', sans-serif;
  font-weight: 400; 
  color: $color-standart-text;
  background-color: $color-white;
  margin: 35px 50px;
}

button {
  cursor: pointer;
  transition: all $transition-speed ease;
  border-radius: $border-radius;
}

@media (max-width: 900px) {
  body {
    margin: 15px 20px;
  }
}